<section id="pages" class="navigation">
	<div class="title">
		<a class="pull-right" href="/editor/pages"><i class="fa fa-plus"></i></a>
		Pages
	</div>
	<ul class="sortable list">
		{{#each pages}}
		<li class="page" data-type="pages" data-pid="{{ this.id }}">
			<div class="pull-right label label-info">{{ this.Galleries.length }}</div>
			<a href="/editor/pages/{{ this.id }}">{{ this.title }}</a>
		</li>
		{{/each }}
	</ul>
</section>
