<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			{{> pages/list }}
		</div>
		<div class="col-sm-2">
			{{> galleries/list }}
		</div>
		<div class="col-sm-2">
			{{> artworks/list }}
		</div>
		<div class="col-sm-6">
			<section class="editor">
				<div id="editor">
					<div class="tab new-artwork">{{> artworks/form }}</div>
					<div class="tab add-artwork">{{> artworks/panel }}</div>
				</div>
			</section>
		</div>
	</div>
</div>
