<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			{{> pages/list }}
		</div>
		<div class="col-sm-2">
			{{> galleries/list }}
		</div>
		<div class="col-sm-2">
			{{> artworks/list }}
		</div>
		<div class="col-sm-6">
			<section class="editor">
				<div id="editor">
					{{#if page }}{{> pages/form }}{{/if }}
					{{#if gallery }}{{> galleries/form }}{{/if }}
					{{#if artwork }}{{> artworks/form }}{{/if }}
				</div>
			</section>
		</div>
	</div>
</div>
<<<<<<< HEAD

<section class="dark sidebar">
	<img src="/editor/img/bambino-logo.png" alt="" style="width:35px; margin: 10px auto; display: block;">
</section>
=======
>>>>>>> 1c9a5d20ba5465817376d52735e39bbc27681759
