<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			{{> users/list }}
		</div>
		<div class="col-sm-10">
			<section class="editor">
				<div id="editor">
					{{> users/form }}
				</div>
			</section>
		</div>
	</div>
</div>
