<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/bambino/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bambino/css/style.css">

</head>
<body>
 
 {{{ body }}}

  <script src="/bambino/js/scripts.js"></script>
  </body>
</html>
