
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/editor/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/editor/css/style.css">

</head>
<body>

 <section class="dark sidebar">
	<h1 class="logo">
		<!-- <i class="fa fa-child"></i> -->
		<img src="/editor/img/bambino-logo-crayon.png" alt="" style="max-width:35px;">
	</h1>
  <h1>
		<a href="/editor/">
			<i class="fa fa-bookmark"></i>
		</a>
	</h1>
	<h1>
		<a href="/editor/users">
			<i class="fa fa-users"></i>
		</a>
	</h1>
	<h1 class="logout">
		<a href="/editor/logout">
			<i class="fa fa-sign-out"></i>
		</a>
	</h1>
</section>

{{{ body }}}


  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="/editor/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="roowyca8sg8fjrx"></script>
  <script src="/editor/js/scripts.js"></script>
  </body>
</html>
