<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{{> navigation }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ page.title }}</h1>
			{{{ page.content }}}
		</div>
	</div>
</div>
