<h1>This Is My Home Page</h1>

<h2>You have access to</h2>

{
	title: string,
	content: string,
	meta: string,
	created: date,
	gallery: { 
		title: String,
		description: String,
		artworks: array
	},
	galleries: array
}


{{ title }}

