@import '../components/bootstrap-sass/assets/stylesheets/bootstrap.scss';

$gray: #EEE;

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: darken($gray, 35);
  margin-left: 50px;
  font-weight: 300;
}

section { 
	border-right: solid 1px darken($gray, 10);
	height: 100vh;
	overflow-y: scroll;

	&:first-child { 
		border-left: none;
	}

	&.editor { 
		background: darken($gray, 45);
		box-shadow: 0 0 50px rgba(darken($gray, 60), .7);
	}

	&.navigation { 
		background: darken($gray, 45);
		border-right: none;
		box-shadow: 0 0 50px rgba(darken($gray, 60), .7);

		thead { 
			background: darken($gray, 50);
			color: $gray;

			th { 
				border-bottom: none;
			}
		}

		tbody { 
			a { 
				color: darken($gray, 20);
			}

			tr { 
				&.active { 
					background: darken($gray, 40);

					td { 
						background: transparent;
					}
				}
				td { 
					border: none;
				}
			}
		}

		tfoot { 
			a { 
				color: white;
			}

			td { 
				border-top: none;
				border-top: solid 2px darken($gray, 55);
			}
		}
	}
}

section.sidebar { 
	position: fixed; 
	top: 0;
	left: 0;
	width: 50px;
	height: 100vh;
	background: darken($gray, 60);
}

a {
  color: #00B7FF;
}

.dropbox-dropin-btn { 
  width: 100% !important;
  border: none !important;
  padding: 8px 10px 12px !important;
  border-radius: 0 !important;
}

.navbar { 
	margin-bottom: 0;
}

#editor { 
	padding: 0px;

	form { 
		margin-top: 30px;
	}
	.title { 
		background: darken($gray, 50);
		color: white;
		padding: 9px;
		font-weight: 800;
	}

	input, textarea { 
		background: darken($gray, 40);
		border-width: 0;
		color: white;
	}

	.btn { 
		border-radius: 0;
	}

	label { 
		color: darken($gray, 15);
		text-transform: uppercase;
		font-weight: normal;
		margin-left: 10px;
		font-size: .9em;
	}

	.artwork { 
		text-align: center;
		background: darken($gray, 55);
		padding: 20px;
		img { 
			display: inline;
			border-radius: 5px;
		}
	}

	button { 
		margin: 30px 0;
	}
}
	
